package $packageName;

#foreach ($importRef in $importRefs)
import $importRef;
#end
import jakarta.xml.bind.annotation.XmlAccessType;
import jakarta.xml.bind.annotation.XmlAccessorType;
import jakarta.xml.bind.annotation.XmlElement;


/**
* @author chi
*/
@XmlAccessorType(XmlAccessType.FIELD)
public class Create${entity.type}Request {
#foreach ($member in $entity.members)
    #if (!$member.name.equals("createdTime") && !$member.name.equals("updatedTime") && !$member.name.equals("createdBy") && !$member.name.equals("updatedBy"))
        #foreach ($anno in $member.annotations)
            #if (!$anno.isConstraints)
                $anno.definition
            #end
        #end
    @XmlElement(name="$member.name")
    public $member.type $member.name;
    #end
#end
@NotEmpty
@XmlElement(name="requestBy")
public String requestBy;
}
