package $packageName;

#foreach ($importRef in $importRefs)
import $importRef;
#end
import jakarta.xml.bind.annotation.XmlAccessType;
import jakarta.xml.bind.annotation.XmlAccessorType;
import jakarta.xml.bind.annotation.XmlElement;

/**
* @author chi
*/
@XmlAccessorType(XmlAccessType.FIELD)
public class ${entity.type}Query {
@XmlElement(name="page")
public Integer page;
@XmlElement(name="limit")
public Integer limit;
@XmlElement(name="sortingField")
public String sortingField;
@XmlElement(name="desc")
public Boolean desc;
}
