package ${packageName};

#foreach ($importRef in $importRefs)
import $importRef;
#end

import ${entity.basePackage}.web.api.${entity.shortName}.Create${entity.type}Request;
import ${entity.basePackage}.web.api.${entity.shortName}.Update${entity.type}Request;
import ${entity.basePackage}.web.api.${entity.shortName}.Delete${entity.type}Request;
import ${entity.basePackage}.web.api.${entity.shortName}.${entity.type}Response;
import ${entity.basePackage}.web.api.${entity.shortName}.${entity.type}Query;

import app.util.collection.QueryResponse;
import jakarta.ws.rs.GET;
import jakarta.ws.rs.POST;
import jakarta.ws.rs.PUT;
import jakarta.ws.rs.Path;
import jakarta.ws.rs.PathParam;

/**
* @author chi
*/
@Path("/api/${entity.group}${entity.shortName}")
public interface ${entity.type}WebService {
    @GET
    @Path("/{id}")
    ${entity.type}Response get(@PathParam("id") String id);

    @PUT
    @Path("/find")
    QueryResponse<${entity.type}Response> find(${entity.type}Query query);

    @POST
    ${entity.type}Response create(Create${entity.type}Request request);

    @PUT
    @Path("/{id}")
    ${entity.type}Response update(@PathParam("id") String id, Update${entity.type}Request request);

    @POST
    @Path("/delete")
    void delete(Delete${entity.type}Request request);
}
