@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var, input, textarea, select, button {
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
}

strong,
b {
  font-weight: 500;
}

.container {
  padding: 0 15px;
}

.nav-wrap {
  float: left;
  width: 0;
  height: 100%;
  transition: all 0.4s ease;
}

.nav-wrap--fixed {
  width: 200px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: #111;
  overflow: hidden;
  z-index: 1000;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.4s ease;
}

.unauthenticated .nav {
  display: none;
}

.nav--fixed {
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.nav__mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 0;
  index: 999;
}

.nav__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 60px;
  line-height: 60px;
  background-color: #111;
  display: flex;
}

.nav .menu {
  padding: 60px 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.nav__toggle,
.nav__fix {
  color: #ddd;
  margin-left: 10px;
  line-height: 60px;
}

.nav__toggle:hover,
.nav__toggle:focus,
.nav__fix:hover,
.nav__fix:focus {
  color: #fff;
}

.el-button--text.nav__fix {
  float: right;
  transition: all 0.4s ease;
  padding: 0 12px;
  margin: 0 15px;
}

.nav__fix--fixed {
  transform: rotateZ(90deg);
}

.el-button--text.nav__toggle--fixed {
  position: fixed;
  top: 11px;
  left: 10px;
  padding: 12px;
  color: #ddd;
  z-index: 1;
}

.nav .logo {
  display: inline-block;
  padding: 0 20px;
  line-height: 60px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 0.9em;
  vertical-align: middle;
  overflow: hidden;
  max-width: 45px;
}

.nav .el-menu--dark .el-submenu .el-menu-item:hover {
  background: inherit !important;
  color: #FFF !important;
}

.nav .el-menu .is-opened .el-menu {
  background: #171717;
}

.el-submenu.submenu-fixed,
.el-menu-item.submenu-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111;
  z-index: 100;
}

.el-submenu.submenu-fixed .el-submenu__title {
  z-index: 1;
}

.el-submenu.submenu-fixed .el-submenu .el-submenu__title {
  z-index: 0;
}

.el-submenu.submenu-fixed .collapse-transition {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, -100%, 0);
  width: 200px;
}

.el-submenu.submenu-fixed.is-opened > .collapse-transition {
  overflow: visible !important;
}


.el-submenu.submenu-fixed .el-icon-arrow-down:before {
  content: "\F106";
}

.el-submenu.submenu-fixed-logo {
  position: absolute;
  top: -60px;
  right: 0;
  z-index: 100;
}

.el-submenu.submenu-fixed-logo .el-submenu__title {
  height: 60px;
  line-height: 60px;
  font-size: 0.9em;
}

.el-submenu.submenu-fixed-logo .el-submenu__icon-arrow {
  display: none;
}

.el-submenu.submenu-fixed-logo .collapse-transition {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate3d(0, 100%, 0);
  width: 200px;
}

.el-submenu .el-menu {
  padding-bottom: 0;
}

.el-submenu .el-menu-item {
  padding: 0 0 0 30px;
  height: 40px;
  line-height: 40px;
}

.el-submenu.submenu-fixed .el-menu-item {
  padding-left: 20px;
}

.el-submenu.submenu-fixed .el-submenu .el-menu-item {
  padding-left: 30px;
}

.el-menu-item,
.el-submenu__title {
  height: 50px;
  line-height: 50px;
}

.nav .el-submenu .el-submenu__title,
.nav .el-submenu .el-submenu__icon-arrow {
  color: #ddd;
}

.nav .el-submenu.is-active .el-submenu__title,
.nav .el-submenu.is-active .el-submenu__icon-arrow {
  color: #ddd;
}

.nav .el-submenu .el-submenu__title,
.el-menu--horizontal > .el-menu-item:hover,
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title,
.el-menu--horizontal > .el-submenu:hover .el-submenu__title {
  border: 0;
}

.el-menu--horizontal .el-submenu.el-submenu--more {
  position: static;
}

.el-submenu--more .el-submenu__icon-arrow {
  display: none;
}

.el-submenu.el-submenu--more .el-icon-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale3d(0, 0, 1) rotate3d(0, 0, 1, -90deg);
  transition: all 0.2s ease;
}

.el-submenu.el-submenu--more.is-opened .el-icon-close {
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0);
  transition: all 0.2s ease 0.2s;
}

.el-submenu.el-submenu--more .el-icon-menu {
  transform: scale3d(1, 1, 1);
  transition: all 0.2s ease 0.2s;
}

.el-submenu.el-submenu--more.is-opened .el-icon-menu {
  transform: scale3d(0, 0, 1);
  transition: all 0.2s ease;
}

.el-menu--horizontal .el-submenu.el-submenu--more > .el-menu {
  border: 0;
  letter-spacing: -5px;
  left: 0;
  right: 0;
  min-width: 0;
  top: 60px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08);
}

.el-submenu--more .el-menu-item-group {
  display: inline-block;
  padding: 20px;
  letter-spacing: normal;
  text-align: left;
  box-sizing: border-box;
  width: 200px;
  vertical-align: top;
}

.el-submenu--more .el-menu-item-group__title {
  height: 32px;
  line-height: 32px;
  padding: 0 20px !important;
  color: #333;
}

.el-menu--horizontal .el-submenu.el-submenu--more .el-menu-item {
  padding: 0 20px !important;
  height: 32px;
  line-height: 32px;
  width: 160px;
  color: #666;
}

.menu-user__image {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

.menu-user__image i {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  color: #333;
  vertical-align: top;
}

.page-container {
  transition: all 0.4s ease;
}

.page-container--fixed {
  padding-left: 200px;
}

.page .header {
  padding: 0 15px 0 80px;
  background: #EEE;
  transition: all 0.4s ease;
}

.page {
  padding-left: 48px;
  max-width: 1280px;
}


.page .toolbar h3 {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: rgb(14, 19, 29);
}

.page .el-card form {
  max-width: 800px;
  margin: 0 auto;
}

.page-container--fixed .header {
  padding: 0 15px;
}

.page .body {
  padding: 15px;
  margin: 8px 0;
}

.page .body--full {
  padding: 0 !important;
}

.page .footer {
  padding-top: 24px;
  width: 100%;
  border-top: 1px solid #e1e5ed;
  box-sizing: border-box;
  transition: all 0.4s ease;
}


.footer .el-pagination {
  padding: 0;
}

.footer .el-pagination__total {
  margin: 0 10px 0 0;
}

.page .footer .el-pagination .el-pagination__sizes .el-select-dropdown {
  top: auto !important;
  bottom: 40px;
}

.page .toolbar {
  border-bottom: 1px solid rgb(232, 235, 241);
  background: #fff;
  transition: all 0.4s ease;
  padding: 15px 0;
}

.page .toolbar::before,
.page .toolbar::after {
  content: "";
  display: block;
  clear: both;
}

.page .toolbar.fixed {
  position: fixed;
  top: 0;
  left: 248px;
  right: 0;
  z-index: 1000;
  max-width: 1280px;
  background: #fff;
}

.page .toolbar .toolbar-form {
  float: right;
  max-width: 66.66%;
  line-height: 40px;
  height: 40px;
}


.page .toolbar .el-form {
  margin-bottom: -10px;
}

.page .toolbar .el-form-item {
  margin-bottom: 10px;
}

.page .toolbar .toolbar-buttons {
  text-align: right;
}

.toolbar .el-select .el-input input {
  width: 150px;
  text-overflow: ellipsis;
}

.page .el-breadcrumb {
  height: 30px;
  line-height: 30px;
  padding: 0;
  font-size: 0.8em;
}

.page .el-breadcrumb__item__inner,
.page .el-breadcrumb__item__inner a {
  text-decoration: none;
}

.page .el-breadcrumb__item:last-child .el-breadcrumb__item__inner,
.page .el-breadcrumb__item:last-child .el-breadcrumb__item__inner:hover,
.page .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a,
.page .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a:hover,
.page .el-breadcrumb__separator {
  color: #999;
}

.page .el-input .el-input__icon {
  color: #999;
}

.el-select-dropdown__item {
  color: #666;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background: #3880ff;
  color: #fff;
}

.page-container__side {
  float: left;
  width: 320px;
  padding-right: 30px;
  border-right: 1px solid #e1e5ed;
  box-sizing: border-box;
}

.page-container__side + .page-container__body {
  padding-left: 30px;
  margin-left: 320px;
}

.page-container__side--right {
  float: right;
  padding-left: 30px;
  border-right: 0;
  border-left: 1px solid #e1e5ed;
}

.page-container__side--right + .page-container__body {
  padding-right: 30px;
  margin-right: 320px;
}

.page .toolbar .el-form-item:last-child:before {
  border-left: 1px solid #e1e5ed;
  height: 20px;
  width: 2px;
  display: inline-block;
  margin: 10px 10px 10px 0;
}

a.el-button {
  text-decoration: none;
}

.el-button--text {
  padding: 0 12px;
}

.el-button a {
  text-decoration: none;
  color: inherit;
}

.el-message {
  z-index: 1001;
}

.el-button--text + .el-button--text {
  border-left: 1px solid #e1e5ed;
  margin-left: 0;
  border-radius: 0;
}

.el-tree {
  border: 0;
}

.el-tree-node__content {
  height: 44px;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 0;
  box-sizing: border-box;
}

.el-tree-node__expand-icon {
  transform: rotate(90deg);
}

.el-tree-node__expand-icon.expanded {
  transform: rotate(270deg);
}

.el-table {
  border: 0;
}

.el-table__actions {
  margin-left: -12px;
}

.el-table a {
  color: #3880ff;
  text-decoration: none;
}

.el-table a:hover {
  color: #5794ff;
}

.el-table__header-wrapper {
  border-bottom: 1px solid #e1e5ed;
}

.el-table:after,
.el-table:before {
  display: none;
}

.el-table th,
.el-table td {
  height: 44px;
}

.el-table tr:last-child td,
.el-table tr:last-child th.is-leaf {
  border: 0;
}

.el-table th > .cell,
.el-table td > .cell {
  white-space: nowrap;
}

.el-table .el-table-column--selection .cell {
  text-overflow: unset;
}

.el-table__empty-block {
  z-index: 99;
  background: #fff;
}

.el-table__empty-text {
  color: #ddd;
}

.el-table__fixed-right:before,
.el-table__fixed:before {
  background: none !important;
}

.error__page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  z-index: 9;
}

.error__page::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.error__container {
  display: inline-block;
  vertical-align: middle;
}

.error__image {
  width: 448px;
  height: 170px;
}

.error__text {
  margin: 36px 0 40px;
  font-size: 18px;
  line-height: 25px;
  color: #ddd;
}

.error__button {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 10px;
}

.loading {
  left: 200px !important;
}

.unauthenticated .loading {
  left: 0 !important;
  background: #fff;
}

.el-pagination .btn-next,
.el-pagination .btn-prev,
.el-pager li {
  border: 0;
}

.el-menu--horizontal .el-menu-item {
  border: 0;
}

.page .el-card {
  box-shadow: none;
  margin-bottom: 15px;
  border: none;
}

.el-card__header {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}

.el-table__empty-block {
  z-index: 0 !important;
}

.el-table__row {
  position: relative !important;
}

.el-table__row .cell:hover {
  position: absolute;
  z-index: 10;
  top: 9.5px;
  left: 2px;
  background: #f5f5f5;
  overflow: visible;
  padding: 0 16px;
  vertical-align: top;
}

